body {
    background-color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

a {
    color: darken($color__brand--primary, 10%);
    font-weight: 600;
    text-decoration: none;

    &:hover, &:focus {
        color: darken($color__brand--primary, 5%);
        text-decoration: underline;
    }

    &:active {
        color: darken($color__brand--primary, 15%);
    }
}
