.panel {
    @include shadow($color__pane);

    background-color: $color__pane;
    border: 1px solid darken($color__pane, 10%);
    border-radius: .25em;
    margin: 2em auto;
    max-width: 32em;
    padding: 2em;
    position: relative;
    text-align: center;

    &__title {
        $color: darken($color__brand--primary, 2.5%);

        @include text-shadow($color);

        color: $color;
        font-size: 2em;
        margin-top: 0;
        text-transform: uppercase;
    }

    &__text {
        display: none;
        text-align: left;
    }

    &__btn-text {
        position: absolute;
        right: 1em;
        top: 1em;
    }
}
